html, body {
	height: 100vh;
	width: 100vw;
	background-color: white;
	padding: 0;
	margin: 0;
}

#message {
	position: absolute;
	background-color: #3adb21;
	border: 0;
	margin: 0;
	padding: 0;
	top: -10%;
	width: 100vw;
	height: 80vh;
	background-image: linear-gradient(#3adb21, #3db32b);
	transform: skewY(-6deg);
	transform-origin: top left;
}

input {
	position: absolute;
	transform: skewY(6deg);
        transform-origin: top left;
}

#bottom {
	height: 20vh;
	width: 100vw;
	background-color: white;
}
