html, body {
	height: 100%;
	width: 100%;
	background-color: white;
	padding: 0;
	margin: 0;
}

#initialFBox {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#message {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3adb21;
	border: 0;
	margin: 0;
	padding: 0;
	top: -10%;
	width: 100vw;
	height: 80vh;
	background-image: linear-gradient(#3adb21, #3db32b);
	transform: skewY(-6deg);
	transform-origin: top left;
	box-shadow: 0px 0px 90px rgba(0,0,0,0.7);
}

#heading {
	display: flex;
	font-family: Trebuchet MS;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 60%;
	transform: skewY(6deg);
        transform-origin: top left;
	color: green;
	font-size: 20vw;
	text-align: center;
}

#inputWrapper {
	width: 30vw;
	background-color: green;
	font-family: Trebuchet MS;
	margin: 0;
	padding: 0;
	border-radius: 7px;
	color: #e0e0e0;
}

#inputWrapper:hover {
	color: white;
}

#bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 10vh;
	width: 100vw;
	background-color: white;
	margin: 0;
	padding: 0;
}

#replPage {
	height: 100vh;
	width: 100vw;
        background-image: linear-gradient(#3adb21, #3db32b);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#pageContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 90%;
	width: 90%;
}

#replContainer {
	margin: 3%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 40%;
}

#tableContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Trebuchet MS;
	overflow-y: auto;
	letter-spacing: 2px;
	background-color: white;
	height: 40%;
	width: 60%;
	text-align: center;
}

#ttContainer {
	background-color: white;
}

::-webkit-scrollbar {
	background-color: green;
}

.tt {
	padding: 5%;
}

.ttRow {
	display: block;
	text-align: center;

}

#replInput {
	display: flex;
	font-size: 2vw;
	text-align: center;
	resize: none;
	width: 90%;
	height: 80%;
}
