<!DOCTYPE html>
<html lang='en'>
	<head>
	<title>Organon</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="shortcut icon" type="image/png" href="../static/favicon/favicon.ico">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.20/p5.js"></script>
	<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
	<link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
	<link rel="manifest" href="../static/favicon/site.webmanifest">
	</head>

	<body id="body">
	<div id="root"></div>
	<script type="text/javascript" src="../static/connectives.js"></script>
	</body>
	<script type="module" src="../static/landing.js"></script>
</html>
