<!DOCTYPE html>
<html lang='en'>
	<head>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.20/p5.js"></script>
	<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	</head>
	<body>
	<div id="root"></div>
	<script src="../static/triangles.js"></script>
	</body>
	<script type="module" src="../static/index.js"></script>
</html>
